---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Version 1">
  <main>
    <div class="text-4xl font-bold text-center mb-2">Version 1 (from)</div>
    <div class="text-2xl text-center mb-6">
      .astro to .astro without view transition
    </div>
    <div class="flex justify-center">
      <a href="/version-1-to">
        <div
          class="border-[1px] border-gray-400 rounded-2xl p-4 hover:shadow-2xl transition-shadow duration-300 cursor-pointer"
        >
          <img
            class="h-[30vh] rounded-xl"
            src="https://images.unsplash.com/photo-1563645774182-d14c97bd52fb?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt=""
          />

          <p class="text-3xl py-3 text-center">Title</p>
        </div>
      </a>
    </div>
  </main>
</Layout>
