---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Version 1 Destination">
  <main>
    <div class="text-4xl font-bold text-center mb-10">Version 1 (to)</div>
    <div class="flex justify-center gap-12">
      <div class="basis-3/12 self-center">
        <p class="text-3xl py-3 mb-3">Title</p>
        <p>
          Sometimes you have headings directly underneath each other. In those
          cases you often have to undo the top margin on the second heading
          because it usually looks better for the headings to be closer together
          than a paragraph followed by a heading should be. Sometimes you have
          headings directly underneath each other. In those cases you often have
          to undo the top margin on the second heading because it usually looks
          better for the headings to be closer together than a paragraph
          followed by a heading should be. Sometimes you have headings directly
          underneath each other. In those cases you often have to undo the top
          margin on the second heading because it usually looks better for the
          headings to be closer together than a paragraph followed by a heading
          should be. Sometimes you have headings directly underneath each other.
        </p>
      </div>
      <div class="basis-3/12">
        <img
          class="rounded-xl"
          src="https://images.unsplash.com/photo-1563645774182-d14c97bd52fb?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
        />
      </div>
    </div>
    <div class="h-[10vh]"></div>
  </main>
</Layout>
